#gameContainer{
    width:800px;
    height:800px;
    margin:0 auto;
    background-color:rgba(255,255,24,0.5);
    position:relative;
    overflow:hidden;
}
#player{
    width:40px;
    height:40px;
    background-image: url('img/jiangshi/face-1.png');
    background-size:100%;
    background-position:center;
    position:absolute;
    z-index:2;
}

.trap {
    width:35px;
    height:35px;
    /* background-image: url("img/trap-30px.png"); */
    background-image: url("img/trap2-48px.png");

    background-size:100%;
    background-position:center;
    position:absolute;
    z-index:1;
}